<h2 style="margin: 10px; font-weight: bold;">Lista de Itens</h2>

<div class="componente-container">
  <!-- Use mockItens array instead of itens$ observable -->
  <div *ngIf="listaItens.length > 0; else carregando">
    <div *ngFor="let item of listaItens; let i = index">
      <p>ID: {{ item.id }}</p>
      <p>Nome: {{ item.nome }}</p>
      <button (click)="navegarItem(item, i)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>

      <button (click)="deletarItem(i)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <hr>
    </div>
  </div>
</div>

<ng-template #carregando>
  <p>Sem itens na lista</p>
</ng-template>

