<p>Lista de Itens</p>

<div class="componente-container">
  <!-- Use mockItens array instead of itens$ observable -->
  <div *ngIf="listaItens.length > 0; else carregando">
    <div *ngFor="let item of listaItens; let i = index">
      <p>ID: {{ item.id }}</p>
      <p>Nome: {{ item.nome }}</p>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <hr>
    </div>
  </div>
</div>

<ng-template #carregando>
  <p>Carregando...</p>
</ng-template>

